<h1>
  {{title}} - goated!!!!
</h1>
<h1 [textContent]="title">
</h1>
<favourite [is-favourite]="post.isFavourite" (change)="onFavouriteChange($event)"></favourite>

<br />
<favourite [is-favourite]="isFavourite" (change)="onFavouriteChange($event)"></favourite>

{{isFavourite}}
<div>
<!--<input type="text" [value]="title" (input)="title = $event.target.value" />-->

<input type="text" [(ngModel)]="title" />

<input type="button" (click)="title = ''" value="Clear" />

Preview: {{title}}
</div>

<!--<img src="{{imageUrl}}" />-->
<img [src]="imageUrl" />
<!--<img bind-src="imageUrl" />-->

<div (click)="onDivClick()">
  <button (click)="onClick($event)" class="btn btn-primary" [class.active]="isActive">Submit</button>
  <!--<button on-click="onClick()" class="btn btn-primary" [class.active]="isActive">Submit</button>-->
</div>
<courses></courses>
<line-chart-demo></line-chart-demo>
